.header-ctn {
    .header {
        .img-container {
            .flexbox;
            position: relative;
            width: @full;
        }
        .end-content {
          width: @full;
          display: flex;
          justify-content: space-between;
          align-items: end;
           #mq-min-width(@screen-xs,{
              width: @1_2;
            });
          .last-update {
            padding-top: @thin;
            width: @full;
            font-size: @micro;
          }
          .year {
            color: @yellow;
            display: flex;
            font-size: @big;
            width: @full;
            transform: translate3d(30%,-55%, 0);
            z-index: 4;
             #mq-min-width(@screen-xs,{
               font-size: @biggest;
               width: auto;
            });
          }
        }
        .surtitle {
          font-weight: 500;
          font-size: @medium;
          padding-top: @broad;
        }
        .surtitle-two {
          font-weight: 500;
          padding-top: @micro;
          font-size: @medium;
        }
        .main-ctn {
          .flexbox;
          justify-content: center;
          .title {
            width: @full;
            color: @yellow;
            font-size: @big;
            line-height: 100%;
            #mq-min-width(@screen-xs,{
              width: @3_4;
              font-size: @biggest;
            });
            transform: translateY(45%);
            z-index: 4;
          }
          .image {
            margin-left: auto;
            margin-right: auto;
            #mq-min-width(@screen-xs,{
              width: 55%;
            });
            width: @3_4;
            z-index: 3;
          }
        }
    }
}
