/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
@import url('https://rsms.me/inter/inter.css');
html,
body {
  border: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
.flexbox {
  display: flex;
  flex-flow: row wrap;
}
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}
html {
  font-size: 0.78125vw;
  --type-factor: 2;
}
@media screen and (min-width: 768px) {
  html {
    --type-factor: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 10px;
    --type-factor: 1;
  }
}
.project-list .sectionTitle {
  font-size: calc(4rem * var(--type-factor));
  margin-top: -7rem;
  padding-top: 7rem;
}
.project-list .project-wrapper {
  cursor: pointer;
  margin-bottom: 9rem;
  margin-top: 9rem;
}
.project-list .project-wrapper .project-item {
  margin-left: 7rem;
  margin-right: 7rem;
}
.project-list .project-wrapper .project-item.is-hovered .button-container {
  transform: scale(1);
}
.project-list .project-wrapper .project-item .button-container {
  transform: scale(0);
  transition: transform 150ms ease-in;
  width: 25%;
  z-index: 100;
  position: absolute;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .project-list .project-wrapper .project-item .button-container {
    width: 15%;
  }
}
.project-list .project-wrapper .project-item .button-container .shape {
  transition: transform 250ms ease-out;
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  background-color: #EE0032;
}
.project-list .project-wrapper .project-item .button-container .content {
  color: white;
  transition: transform 250ms ease-out;
  white-space: normal;
  word-wrap: break-word;
  font-size: calc(2rem * var(--type-factor));
  font-weight: light;
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  overflow: hidden;
  transform: translateY(-50%);
}
.project-list .project-wrapper .inner-ctn {
  padding-top: calc(1.5rem * var(--type-factor));
  padding-bottom: calc(1.5rem * var(--type-factor));
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.project-list .project-wrapper .inner-ctn .header {
  display: flex;
  flex-flow: row wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.project-list .project-wrapper .inner-ctn .header .number {
  font-size: calc(3rem * var(--type-factor));
}
.project-list .project-wrapper .inner-ctn .header .name {
  padding-left: calc(1.5rem * var(--type-factor));
  font-size: calc(8rem * var(--type-factor));
}
.project-list .project-wrapper .inner-ctn .item-ctn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: calc(3rem * var(--type-factor));
  padding-top: calc(1.5rem * var(--type-factor));
  padding-bottom: calc(1.5rem * var(--type-factor));
}
.project .project-header {
  padding-top: 7rem;
  width: 100%;
  display: flex;
}
.project .project-header .header-img-wrapper {
  width: 100%;
  display: flex;
}
.project .project-header .header-img-wrapper .header-img-ctn {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  padding-bottom: 100%;
}
.project .project-header .header-img-wrapper .header-img-ctn .header-img-inner-ctn {
  object-fit: cover;
}
.project .project-header .header-img-wrapper .header-img-ctn .header-img-inner-ctn .header-img {
  position: absolute;
  left: 0;
  right: 0;
}
.project .project-header .project-header-title {
  width: 100%;
}
.project .project-header .project-header-title .ctn {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.project .project-header .project-header-title .ctn .title-ctn {
  width: 100%;
  display: flex;
  z-index: 100;
}
.project .project-header .project-header-title .ctn .title-ctn .nom-projet {
  position: absolute;
  top: 15%;
  left: 5%;
  line-height: 100%;
  font-size: calc(15rem * var(--type-factor));
  width: 75%;
}
.project .project-header-info .info-ctn {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #000000;
  padding-bottom: calc(1.5rem * var(--type-factor));
}
.project .project-header-info .info-ctn .item-left {
  width: 50%;
}
.project .project-header-info .info-ctn .item-left .year {
  font-size: calc(3rem * var(--type-factor));
}
.project .project-header-info .info-ctn .item-left .nameLibelle {
  font-size: calc(4rem * var(--type-factor));
}
.project .project-header-info .info-ctn .item-left .name {
  font-size: calc(3rem * var(--type-factor));
}
.project .project-header-info .info-ctn .item-right {
  display: flex;
  width: 50%;
}
.project .project-header-info .info-ctn .item-right .type {
  font-size: calc(4rem * var(--type-factor));
  display: flex;
  width: 100%;
  margin-top: auto;
  justify-content: flex-end;
}
.header-ctn .header .img-container {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
}
.header-ctn .header .end-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media screen and (min-width: 768px) {
  .header-ctn .header .end-content {
    width: 50%;
  }
}
.header-ctn .header .end-content .last-update {
  padding-top: 1rem;
  margin-left: 3rem;
  width: 100%;
  font-size: calc(1.5rem * var(--type-factor));
}
.header-ctn .header .end-content .year {
  color: #FFBC01;
  display: flex;
  font-size: calc(8rem * var(--type-factor));
  width: 100%;
  transform: translate3d(30%, -55%, 0);
  z-index: 4;
}
@media screen and (min-width: 768px) {
  .header-ctn .header .end-content .year {
    font-size: calc(15rem * var(--type-factor));
    width: auto;
  }
}
.header-ctn .header .surtitle {
  font-weight: 500;
  font-size: calc(4rem * var(--type-factor));
  padding-top: 7rem;
}
.header-ctn .header .surtitle-two {
  font-weight: 500;
  padding-top: calc(1.5rem * var(--type-factor));
  font-size: calc(4rem * var(--type-factor));
}
.header-ctn .header .main-ctn {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.header-ctn .header .main-ctn .title {
  width: 100%;
  color: #FFBC01;
  font-size: calc(8rem * var(--type-factor));
  line-height: 100%;
  transform: translateY(45%);
  z-index: 4;
}
@media screen and (min-width: 768px) {
  .header-ctn .header .main-ctn .title {
    width: 75%;
    font-size: calc(15rem * var(--type-factor));
  }
}
.header-ctn .header .main-ctn .image {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .header-ctn .header .main-ctn .image {
    width: 100%;
  }
}
.header-about-ctn .header-about .img-container {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
}
.header-about-ctn .header-about .back-ctn {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.header-about-ctn .header-about .svgLine {
  position: absolute;
  right: 50%;
  top: -50%;
  transform: scale(1.2);
  overflow: visible;
  display: block;
  pointer-events: none;
  z-index: -1;
}
.header-about-ctn .header-about .blueCircle {
  position: absolute;
  left: 85%;
  top: -15%;
  overflow: visible;
  display: block;
  padding-bottom: 30%;
  pointer-events: none;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .header-about-ctn .header-about .blueCircle {
    left: 75%;
    top: -15%;
  }
}
.header-about-ctn .header-about .RedCircle {
  position: absolute;
  left: 0%;
  top: 80%;
  overflow: visible;
  display: block;
  padding-bottom: 30%;
  pointer-events: none;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .header-about-ctn .header-about .RedCircle {
    left: 15%;
    top: 65%;
  }
}
.header-about-ctn .header-about .surtitle {
  font-size: calc(4rem * var(--type-factor));
  padding-top: 7rem;
}
.header-about-ctn .header-about .surtitle-two {
  padding-top: calc(1.5rem * var(--type-factor));
  font-size: calc(4rem * var(--type-factor));
  padding-bottom: 7rem;
}
.header-about-ctn .header-about .main-ctn {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: -10%;
}
.header-about-ctn .header-about .main-ctn .title {
  font-size: calc(10rem * var(--type-factor));
  line-height: 100%;
  transform: translateY(25%);
  z-index: 4;
}
@media screen and (min-width: 768px) {
  .header-about-ctn .header-about .main-ctn .title {
    font-size: calc(20rem * var(--type-factor));
  }
}
.header-about-ctn .header-about .main-ctn .image {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .header-about-ctn .header-about .main-ctn .image {
    width: 50%;
  }
}
.ctn {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
.ctn .back-button {
  position: absolute;
  left: 7rem;
  top: 7rem;
}
.ctn .title {
  margin-top: 7rem;
  font-size: calc(8rem * var(--type-factor));
  text-align: center;
}
.ctn .message {
  text-align: center;
  font-size: calc(3rem * var(--type-factor));
}
.ctn .error-img {
  display: flex;
  width: 100%;
  justify-content: center;
}
.ctn .error-img img {
  width: 50%;
}
.button-main {
  display: flex;
  width: 100%;
  justify-content: center;
}
.button-main .wrapper {
  box-sizing: border-box;
  width: 15%;
  display: inline-block;
  position: relative;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
}
.button-main .wrapper .shape {
  transition: transform 250ms ease-out;
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-color: #FFBC01;
  border-radius: 50%;
  transform: scale(1.5);
}
@media screen and (min-width: 768px) {
  .button-main .wrapper .shape {
    transform: scale(0.85);
  }
}
.button-main .wrapper .content {
  transition: transform 250ms ease-out;
  white-space: normal;
  word-wrap: break-word;
  font-size: calc(2rem * var(--type-factor));
  font-weight: light;
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  overflow: hidden;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .button-main .wrapper .content {
    transform: scale(2) translateY(-20%);
  }
}
@media screen and (min-width: 768px) {
  .button-main .wrapper:hover .shape {
    transform: scale(1);
  }
  .button-main .wrapper:hover .content {
    transform: scale(1) translateY(-50%);
  }
}
.work-experience-wrapper {
  width: 100%;
  padding-top: 9rem;
  display: flex;
  flex-flow: row wrap;
}
.work-experience-wrapper .title {
  width: 100%;
  font-size: calc(4rem * var(--type-factor));
}
.work-experience-wrapper .item-ctn {
  display: flex;
  width: 100%;
  margin-left: -7rem;
  margin-right: -7rem;
}
@media screen and (min-width: 768px) {
  .work-experience-wrapper .item-ctn {
    width: 50%;
  }
}
.work-experience-wrapper .item-ctn .item {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 15rem;
  margin-right: 15rem;
  display: flex;
  flex-flow: row wrap;
  width: full;
}
.work-experience-wrapper .item-ctn .item .image {
  width: 25%;
}
.work-experience-wrapper .item-ctn .item .image img {
  width: 100%;
}
.work-experience-wrapper .item-ctn .item .content {
  transform: translateX(3rem);
  margin-top: auto;
  margin-bottom: auto;
}
.work-experience-wrapper .item-ctn .item .content p {
  font-size: calc(2rem * var(--type-factor));
}
#root .nav {
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin-right: 10rem;
  margin-left: 10rem;
}
#root .nav .item {
  display: flex;
  width: 25%;
  cursor: pointer;
  padding-top: 2rem;
  font-size: calc(2rem * var(--type-factor));
}
#root .contactSticky {
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#root .contactSticky img {
  width: 20%;
  position: fixed;
  top: calc(1.5rem * var(--type-factor));
  right: calc(1.5rem * var(--type-factor));
  transition: all 200ms ease-out;
  border-radius: 13rem;
}
#root .contactSticky img:hover {
  background-color: white;
  transform: scale(0.9) rotate(0deg) !important;
}
@media screen and (min-width: 768px) {
  #root .contactSticky img {
    width: 10%;
    border-radius: 9rem;
  }
}
#root .transition-group .page-enter {
  opacity: 0;
  z-index: 100;
  transform-origin: 50% 50%;
  transform: translate3d(0, -5%, 0) scale(0.98);
  transition: all 500ms cubic-bezier(0.48, 0.22, 0.4, 0.98);
}
#root .transition-group .page-enter-done {
  opacity: 1;
  z-index: 100;
  transform: translate3d(0, 0, 0) scale(1);
  transition: all 500ms cubic-bezier(0.48, 0.22, 0.4, 0.98);
}
#root .transition-group .page-exit {
  opacity: 0;
  z-index: 100;
  transform-origin: 50% 50%;
  transform: translate3d(0, -5%, 0) scale(0.98);
  transition: all 500ms cubic-bezier(0.48, 0.22, 0.4, 0.98);
}
#root .transition-group .page-exit .page-exit-active {
  opacity: 0;
  z-index: 1;
  transform: scale(0.98);
  transform: translate3d(0, -5%, 0) scale(0.98);
}
.page {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: inherit;
  cursor: default;
}
.page .module {
  padding-right: 10rem;
  padding-left: 10rem;
}
.page .module.spacing {
  padding-top: 1rem;
}
.project-list .fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 450ms ease-out, transform 450ms ease-out, visibility 400ms ease-out;
  will-change: opacity, transform, visibility;
}
.project-list .fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
