@import './travaux.less';
@import './header.less';


.page {
    width: @full;
    max-width: @screen-xl;
    margin-left:auto;
    margin-right:auto;
    .links;
    cursor: default;

    .module {
        padding-right:@security;
        padding-left:@security;
    }
}