@import './travaux.less';
@import './header.less';


.site {
    .loading-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    .loadingSVG {
        stroke-dasharray: 500;
        stroke-dashoffset: 100;
        animation: dash 5s linear infinite;
        overflow: visible;
        display: block;
        margin-left: auto;
        margin-right: auto;
        pointer-events: none;
        z-index: 10;
    }
    @keyframes dash {
        0% {
            transform: scale(0.8) skew(10deg);
            stroke-dashoffset: 1500;
        }

        50% {
            stroke-dashoffset: 500;
        }
        100% {
            transform: scale(1) skew(0);
            stroke-dashoffset: 0;
        }
    }
}

.page {
    width: @full;
    max-width: @screen-xl;
    margin-left:auto;
    margin-right:auto;
    .link;
    cursor: default;

    .module {
        padding-right:@security;
        padding-left:@security;
    }
}